main {
  width: 100vw;
  height: 100%;
  background-color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 70vw;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h4 {
  text-align: left;
}
.textHeader {
  margin: 5px;
  background-color: lightgoldenrodyellow;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputHeader {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

input {
  border-radius: 8px;
  width: 400px;
  height: 40px;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

.head0 {
}

button {
  margin-top: 30px;
  padding: 20px 30px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  border: none;
  margin-bottom: 30px;
}
